#        ___           ___           ___           ___           ___           ___                    ___     
#       /\__\         /\  \         /\  \         /\  \         /\__\         /\  \                  |\__\    
#      /::|  |       /::\  \        \:\  \       /::\  \       /:/  /        /::\  \                 |:|  |   
#     /:|:|  |      /:/\:\  \        \:\  \     /:/\:\  \     /:/  /        /:/\:\  \                |:|  |   
#    /:/|:|__|__   /:/  \:\  \       /::\  \   /::\~\:\  \   /:/  /  ___   /::\~\:\  \               |:|__|__ 
#   /:/ |::::\__\ /:/__/ \:\__\     /:/\:\__\ /:/\:\ \:\__\ /:/__/  /\__\ /:/\:\ \:\__\              /::::\__\
#   \/__/~~/:/  / \:\  \ /:/  /    /:/  \/__/ \:\~\:\ \/__/ \:\  \ /:/  / \/_|::\/:/  /             /:/~~/~   
#         /:/  /   \:\  /:/  /    /:/  /       \:\ \:\__\    \:\  /:/  /     |:|::/  /             /:/  /     
#        /:/  /     \:\/:/  /     \/__/         \:\ \/__/     \:\/:/  /      |:|\/__/              \/__/      
#       /:/  /       \::/  /                     \:\__\        \::/  /       |:|  |                           
#       \/__/         \/__/                       \/__/         \/__/         \|__|                           
#  

[stepper_y]
step_pin: PE2 
dir_pin: !PE4
enable_pin: !PE3 
microsteps: 16 
full_steps_per_rotation: 200

#############################################################################
# Valeur a modifier en fonction des Stepps 
# Rotation = ((valeur Reelle x Rotation actuelle) / Valeur slicer )
rotation_distance: 40
#############################################################################
endstop_pin: ^!PB14 
position_endstop: 0 #-80 #0
position_min: 0 #-80 #0 # La valeur de Min dois être au moins égale a celle de Endstop
position_max: 300
homing_speed: 50 # Vitesse de Home

[tmc2209 stepper_y] 
uart_pin: PC15 
run_current: 0.5 
stealthchop_threshold: 999999
interpolate: True # False si microsteps = 64
#tx_pin: PC10
#uart_address: 2