#___________________________________
#      Capteur Omron Inductive 
#___________________________________
[probe]
pin: PA3
deactivate_on_each_sample: True
x_offset: -25                              # Décallage sur X de la sonde
y_offset: 20 #80.0                        # Décallage sur Y de la sonde

#z_offset: 5               #------------------Active avant Probe_Calibrate et Désactiver Avant Accept -------------------   Monter pour descendre le zOffset    !!!! ATTENTION !!!!   Activer avant Probe_Calibrate, et desactiver avant le Accept

speed: 5.0                            # Vitesse de la montée en Z
samples: 4                            # Nombre de palpation par points
sample_retract_dist: 3                # Distance en Z entre chaques palpations
samples_result: average # median
samples_tolerance: 0.1                # Tolérence à laquelle klipper devrait rééssayer
samples_tolerance_retries: 5          # Nombre de test suite à une erreur


## PROBE - MOVE THIS TO printer.cfg or your probe offsets will fail!
# [probe]
# pin: ^EBB36:PB9
# x_offset: 0 #-29.8
# y_offset: -20 #-13.5
# z_offset: 11
# speed: 5
# samples: 3
# sample_retract_dist: 2
# lift_speed: 5.0
# samples_result: median
# samples_tolerance: 0.02
# samples_tolerance_retries: 5